body {
    background: url('https://data.1freewallpapers.com/detail/starry-sky-galaxy-glitter-night.jpg') no-repeat fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 800;
}

h3, h4 {
    font-weight: 600;
}

span {
    color: #02b1c8;
    font-weight: 800;

}

.location-container {
    padding: 5rem 8rem;
}

.search-bar {
    font-size: 2rem
}

.card-character {
    margin: auto;
}

.name-character-container {
    height: 5rem;
    display: grid;
    place-content: center;
}

.zoom {
    transition: transform .4s;
}

.zoom:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .location-container {
        padding: 3rem 1.5rem
    }

    .card-character{
        width: 65%;
    }
}

@media screen and (max-width: 576px) {
    .title-name {
        height: 65%;
        margin: auto;
    }
    
    .name-character-container {
        height: 4rem;
    }

    .location-container {
        padding: 2rem 1rem
    }

    .search-bar {
        font-size: 1.1rem
    }
}

@media screen and (max-width: 400px) {
    .title-name {
        height: 60%;
    }
}